/* Fonts */
@font-face {
    font-family: 'gothamthin';
    src: url('assets/fonts/Gotham-Thin.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothammedium';
    src: url('assets/fonts/GothamMedium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}


.wrapper{

}

.title{

}

.options{

}

.canvas{

}