/* Fonts */
@font-face {
  font-family: "gothamthin";
  src: url("assets/fonts/Gotham-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothammedium";
  src: url("assets/fonts/GothamMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamlight";
  src: url("assets/fonts/GothamLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --spotifyBlack: #1a1a1a;
  --spotifyGreen: #1ed760;
  --spotifyGrey: #333333;
}

body {
  background-color: var(--spotifyBlack);
}

.wrapper {
  background-color: var(--spotifyBlack);
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex-wrap: wrap;
}

.nav-bar {
  width: 100%;
  font-family: "gothammedium";
  font-size: 26px;
  color: var(--spotifyBlack);
  background-color: var(--spotifyGreen);
  padding: 10px;
  margin: 0 0 20px 0;
  text-align: center;
}


.options-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.options {
  font-family: "gothamlight";
  font-size: 24px;
  color: var(--spotifyGreen);
  line-height: 50px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  height: fit-content;
  box-shadow:  13px 13px 26px #101010, -13px -13px 26px #242424

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-family: "gothamlight";
  font-size: 16px;
  background-color: var(--spotifyGreen);
  color: var(--spotifyBlack);
}

a {
  color: var(--spotifyBlack);
  font-family: "gothammedium";
}

.canvas-wrapper {
  height: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#screenshotCanvas {
  height: 80%;
  margin: 20px;
  background-color: var(--spotifyBlack);
  border: solid 2px;
  border-color: var(--spotifyBlack);
  box-shadow:  13px 13px 26px #101010, -13px -13px 26px #242424
}

#screenshotCanvas:hover {
  border: solid 2px;
  border-color: var(--spotifyGreen);
}

/*download Canvas btn*/
#downloadCanvas {
  cursor: pointer;
  background-color: var(--spotifyGreen);
  border-radius: 10px;
  color: var(--spotifyBlack);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  font-family: "gothammedium";
  opacity: 0.6;
}

#downloadCanvas:hover {
  opacity: 1;
}

/*download Canvas btn*/
#submit {
  cursor: pointer;
  background-color: var(--spotifyGreen);
  border: none;
  border-radius: 10px;
  color: var(--spotifyBlack);
  margin: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "gothammedium";
  opacity: 0.6;
}

#submit:hover {
  opacity: 1;
}

/*Checkbox styles*/
input[type="checkbox"] {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: var(--spotifyGrey);
  cursor: pointer;
  border: 2px solid var(--spotifyGreen);
  border-radius: 2px;
  opacity: 0.6;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: var(--spotifyGreen);
  opacity: 1;
}

/*Textbox styles*/
input[type="text"] {
  background-color: var(--spotifyBlack);
  border-style: solid;
  border-color: var(--spotifyBlack);
  border-bottom-color: var(--spotifyGreen);
  color: white;
  font: "gothamlight";
  font-size: 20px;
  margin: 5px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]:hover {
  background-color: var(--spotifyGrey);
}

#preloader {
  background: var(--spotifyBlack) url("assets/ui/preloader.gif") no-repeat center center;
  background-size: 100px;
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
  position: fixed;
  z-index: 100;
}
